<div class='container'>
    <div class='row pic-row'>
        <div class='col'>
            <img src='assets/img/burger.png' alt='hamburger image'>
        </div>
    </div>

    <div class='row main-title-row'>
        <div class='col-sm-12'>
            <h1 class='main-title'>Eat-Da-Burger!</h1>
        </div>
    </div>

    <br><br>

    <div class='row output-row'>
        <div class='col-sm-6'>
            <div class='panel panel-default'>
                <div class='panel-body'>
                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        <textarea class='create-burger-list' type='text' rows='1'
                            cols='30'>{{this.id}}. {{this.burger_name}}</textarea>
                        <button type='button' class='eatburger devour-btn' id='eatbutton' data-id='{{this.id}}'>Devour
                            it!</button>
                        <br><br>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <div class='col-sm-6'>
            <div class='panel panel-default'>
                <div class='panel-body'>
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <textarea class='eat-burger-list' type='text' rows='1'
                            cols='30'>{{this.id}}. {{this.burger_name}}</textarea>
                        <button type='button' class='deleteburger delete-btn' id='deletebutton'
                            data-id='{{this.id}}'>Delete</button>
                        <br><br>
                        {{/if}}
                        {{/each}}
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <div class='row submit-row'>
        <div class='col-sm-12'>
            <form class='create-form'>
                <div class='form-group'>
                    <textarea type='text' id='newburger' name='burger' rows='3' cols='40'></textarea>
                    <br><br>
                    <button type='submit' class='submit-btn' id='addburger'>Submit</button>

                    <br><br>

                    <p>Enter a burger you want to each and click the "Submit" button</p>

                </div>
            </form>
        </div>
    </div>
</div>